<br>
<div class="container">

  <ul>
    <li *ngFor='let quote of quotes;let i = index'>
      <!-- <span *ngIf=></span> -->
      <div class="card">
        <!-- <span *ngFor></span> -->
        <h6 (click)='calcUpest()'class="card-header">{{quote.description}}</h6>
        <div class="card-body">
         <button type="button" (click)='addUpvote(i)' class="btn btn-primary btn-sm float-right"><small>{{quote.upVote}} Votes</small> </button>
        <button type="button" (click)='showDetails(i)' class="btn btn-outline-primary float-right btn-sm" name="button"> <small>Details</small> </button>
        <small class="">Posted On {{quote.postenOn|quoteDate}}</small>
        <app-quote-details *ngIf='quote.showQuote' [quote]='quote'  (delQuote)='deletedQuote($event,i)' ></app-quote-details>
        </div>
      </div><br>
    </li>

  </ul>
</div>
<button type="button" (click)='displayQuote(true)' name="button">Add Quote</button>
<app-quote-form *ngIf='showForm'(sendQuote)="addedQuote($event)"></app-quote-form>
