.card{
  max-width: 500px;
}
.btn{
  margin: 2px;
}
li{
  list-style: none;
}
.card-header{
  text-align: center;
  font-style: italic;
}
.navbar{
  position: fixed;
  top: 0;
  width: 100%;
    z-index: 3
}
